
.battle
   .name.op
   .name.my

   .board
      .decor1
      .decor2
      .decor3

      .history

      .battleground
         .creatures.op
         .creatures.my

      .stats.op
         .mana.op
            SPAN.active
            SPAN.slash /
            SPAN.all
      .hero.op
         .weapon.op
         .avatar.op(data-id="hero")
            .health.op
               SPAN.value
            .armor.op
               SPAN.value
            .attack.op
               SPAN.value
         .hero-skill.op
            .pic
            .skill-helper.op

      .hand.op
         .cards
      .hand-helper-zone
         .hand-helper.table.op
            .header Enemy Hand
            .text
               |Your enemy's hand contains
               SPAN.value
               |cards.

      .hero.my
         .weapon.my
         .avatar.my(data-id="hero")
            .health.my
               SPAN.value
            .armor.my
               SPAN.value
            .attack.my
               SPAN.value
         .hero-skill.my
            .pic
            .skill-helper.my

      .stats.my
         .mana.my
            SPAN.active
            SPAN.slash /
            SPAN.all
         .crystals
            .normal
            .off
            .lock
            .next-overload

            .table
               .header Mana Crystals
               .text When your turn starts, you'll gain a new crystal and fill empty ones.

      .hand.my
         .cards

      .decks
         .deck.op
            .deck-helper.table.op
               .header Enemy Deck
               .text
                  |There are
                  SPAN.value
                  |cards in your opponent's deck.
         .deck.my
            .deck-helper.table.my
               .header Deck
               .text
                  |You have
                  SPAN.value
                  |cards in your deck.

         .end-turn

.shadow
   .welcome
      .hero.my
      .vs
      .hero.op

   .repick-layer
      .title
         .scroll
         .text Keep or Replace Cards
      .cards
      .confirm
