
.bw
   .shadow
      .welcome
         .hero.my
         .vs
         .hero.op

      .repick-layer
         .title
            .scroll
            .text Keep or Replace Cards
         .cards
         .confirm
         .opponent-choosing

