
.battle
   .name.op
   .name.my

   .board
      .history

      .hand.op
      .stats.op
         .mana.op
            SPAN.active
            SPAN.slash /
            SPAN.all
      .hero.op
         .weapon.op
         .avatar.op
            .health.op
               SPAN.value
         .hero-skill.op

      .battleground
         .creatures.op
         .creatures.my

      .hero.my
         .weapon.my
         .avatar.my
            .health.my
               SPAN.value
         .hero-skill.my
      .stats.my
         .mana.my
            SPAN.active
            SPAN.slash /
            SPAN.all
         .crystals

      .hand.my

      .decks
         .deck.op
         .deck.my

         .end-turn
