
.battle
   .board
      .history

      .hand.op
      .stats.op
      .hero.op
         .weapon
         .avatar
         .hero-skill

      .battleground
         .minions.op
         .minions.my

      .hero.my
         .weapon
         .avatar
         .hero-skill
      .stats.my
      .hand.my

      .decks
         .deck.op
         .deck.my

         BUTTON.turn-off END
