
if locals.id
   .card-wrap(data-id=id)
      .card
         IMG(src="http://media-hearth.cursecdn.com/avatars/"+base.pic+".png")
else
   .card-wrap
      .card
         IMG(src="cards/card_back.png")
