
.collection

   .tabs
      .tab.druid.selected(data-clas='druid')
      .tab.hunter(data-clas='hunter')
      .tab.mage(data-clas='mage')
      .tab.paladin(data-clas='paladin')
      .tab.priest(data-clas='priest')
      .tab.rogue(data-clas='rogue')
      .tab.shaman(data-clas='shaman')
      .tab.warlock(data-clas='warlock')
      .tab.warrior(data-clas='warrior')
      .tab.neutral(data-clas='neutral')
   .cards
   .arrow.left <
   .arrow.right >
   .pager

   .my-decks
      .decks-wrapper
      .new-deck
      .btn-back

   .hero-right-panel
      .deck-cards
      .btn-done


   .create-deck-screen
      .heroes
         .hero.warrior
         .hero.shaman
         .hero.rogue
         .hero.paladin
         .hero.hunter
         .hero.druid
         .hero.warlock
         .hero.mage
         .hero.priest

      .choose
