
.collection

   .tabs
      .tab.druid(data-clas='druid')
      .tab.hunter(data-clas='hunter')
      .tab.mage(data-clas='mage')
      .tab.paladin(data-clas='paladin')
      .tab.priest(data-clas='priest')
      .tab.rogue(data-clas='rogue')
      .tab.shaman(data-clas='shaman')
      .tab.warlock(data-clas='warlock')
      .tab.warrior(data-clas='warrior')
      .tab.neutral(data-clas='neutral')

   .scroll-zone.left
   .scroll-zone.right

   .class-bg
   .cards
   .cards-empty No Matches Found

   .pager

   INPUT.search(placeholder="Search")

   .my-decks
      .decks-wrapper
      .new-deck
      .btn-back

   .hero-right-panel
      .deck-info
      .deck-cards
      .btn-done


   .create-deck-screen
      .heroes
         .hero.warrior(data-clas='warrior')
         .hero.shaman(data-clas='shaman')
         .hero.rogue(data-clas='rogue')
         .hero.paladin(data-clas='paladin')
         .hero.hunter(data-clas='hunter')
         .hero.druid(data-clas='druid')
         .hero.warlock(data-clas='warlock')
         .hero.mage(data-clas='mage')
         .hero.priest(data-clas='priest')

      .avatar

      .choose
      .back

.confirm
   .button.ok
   .button.cancel
