
.collection

   .tabs
      .tab.druid(data-clas='druid')
      .tab.hunter(data-clas='hunter')
      .tab.mage(data-clas='mage')
      .tab.paladin(data-clas='paladin')
      .tab.priest(data-clas='priest')
      .tab.rogue(data-clas='rogue')
      .tab.shaman(data-clas='shaman')
      .tab.warlock(data-clas='warlock')
      .tab.warrior(data-clas='warrior')
      .tab.neutral(data-clas='neutral')

   .scroll-zone.left
   .scroll-zone.right

   .class-bg
   .cards
   .cards-empty No Matches Found

   .pager

   .footer
      .manas
         .mana.m0(data-cost=0): .digit 0
         .mana.m1(data-cost=1): .digit 1
         .mana.m2(data-cost=2): .digit 2
         .mana.m3(data-cost=3): .digit 3
         .mana.m4(data-cost=4): .digit 4
         .mana.m5(data-cost=5): .digit 5
         .mana.m6(data-cost=6): .digit 6
         .mana.m7(data-cost=7): .digit 7

      INPUT.search(placeholder="Search")

   .my-decks
      .decks-wrapper
      .new-deck
      .btn-back

   .hero-right-panel
      .deck-info
      .deck-cards
      .card-count
         .number
         .label Cards

      .btn-done


   .create-deck-screen
      .heroes
         .hero.warrior(data-clas='warrior')
         .hero.shaman(data-clas='shaman')
         .hero.rogue(data-clas='rogue')
         .hero.paladin(data-clas='paladin')
         .hero.hunter(data-clas='hunter')
         .hero.druid(data-clas='druid')
         .hero.warlock(data-clas='warlock')
         .hero.mage(data-clas='mage')
         .hero.priest(data-clas='priest')

      .avatar

      .choose
      .back

.confirm
   .button.ok
   .button.cancel
