/.idea/

/card-constructor/node_modules/
/card-constructor/bower_components/
/card-constructor/**/*.js
/card-constructor/**/*.js.map
/card-constructor/**/*.css

/server/node_modules/
/server/**/*.js
/server/**/*.js.map

/www/bower_components/
/www/js/**/*.js
/www/js/**/*.js.map
/www/styles/*.css
