/.idea/

/node_modules/

/server/node_modules/
/server/**/*.js
/server/**/*.js.map

/www/bower_components/
/www/js/**/*.js
/www/js/**/*.js.map
/www/styles/*.css
/www/screens/**/*.js
/www/screens/**/*.js.map
/www/screens/**/*.css

/Gruntfile.js
/Gruntfile.js.map
