.be {
  pointer-events: all;
  background: rgba(0,0,0,0.4);

  .splash {
    position: absolute;
    top: 79px;
    left: 378px;
    width: 523px;
    height: 564px;

    &.win {
      background: url("/textures/battle-end_win.png");
    }

    &.defeat {
      background: url("/textures/battle-end_defeat.png");
    }
  }

  .avatar {
    position: absolute;
    top: 96px;
    left: 165px;
    width: 190px;
  }

  .continue {
    position: absolute;
    top: 669px;
    left: 440px;
    width: 400px;

    color: #FFF;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-size: 27px;
    letter-spacing: 0.8px;
    text-align: center;
  }

}
