
.hero-right-panel
   .deck-info
      .deck
         .background(class=H.CLASSES_L[deck.clas])
         INPUT.label-edit(value=deck.label)
         .frame
   .deck-cards
   .card-count
      .number
      .label Cards

   .btn-done
