
.b {
  background: #3C3C3C;

  @w: 900px;
  @h: 654px;

  .battle {
    height: 677px;
    overflow: hidden;
    padding-top: 23px;
    background: url("../textures/board_1280.jpg");
  }

  .board {
    position: relative;
    width: @w;
    height: @h;
    margin: 0 auto;
    transform: perspective(300px) rotateX(1deg);
  }

  .history {
    display: none;
    position: absolute;
    width: 40px;
    height: 290px;
    top: @h/2-145px;
    left: 3px;
  }

  .hand {
    position: absolute;
    width: 300px;
    height: 100px;
    left: @w/2-150px;
    transform: scale(1.1);

    &.op {
      top: -92px;
    }

    &.my {
      bottom: -49px;
    }
  }

  .card {
    display: inline-block;
    width: 77px;
    height: 107px;
    vertical-align: top;
    margin-right: -40px;
    margin-top: 0;
  }

  .hand.my .card {
    transition: margin 0.3s;

    &.selected {
      box-shadow: 0 0 8px #f00
    }

    &:hover {
      margin-top: -27px;
      margin-right: 0;
    }
  }

  .card-img {
    width: 90px;
    margin-left: -6px;
    margin-top: -20px;
  }

  .stats {
    position: absolute;
    width: 200px;
    height: 32px;

    &.op {
      top: 0;
      left: @w/2+145px;
    }

    &.my {
      bottom: 2px;
      left: @w/2+167px;
    }
  }

  .mana {
    display: inline-block;
    width: 66px;
    height: 100%;
    padding-top: 2px;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 2px #000;

    > SPAN {
      vertical-align: middle;
    }

    .active, .all {
      font-size: 18px;
      font-weight: bold;
    }

    .slash {
      font-size: 27px;
      margin: 0 1px;
    }
  }

  .battleground {
    position: absolute;
    width: 100%;
    height: 400px;
    top: @h/2-200px;
    padding-left: 156px;
  }

  .minions {
    position: absolute;
    width: 600px;
    height: 110px;

    &.op {
      top: 60px;
    }

    &.my {
      bottom: 85px;
    }
  }

  .hero {
    position: absolute;
    width: 340px;
    height: 124px;
    left: @w/2-170px;

    &.op {
      top: 41px;
    }

    &.my {
      bottom: 70px;
    }
  }

  .avatar {
    position: absolute;
    width: 108px;
    height: 124px;
    background: url("../textures/hero_shaman.png");

    &.op {
      left: 116px;
    }

    &.my {
      left: 118px;
    }
  }

  .health {
    position: absolute;
    width: 27px;
    height: 41px;
    right: -5px;
    text-align: center;
    background: url("../textures/health.png");

    &.op {
      bottom: -6px;
    }

    &.my {
      bottom: -5px;
    }

    .value {
      display: inline-block;
      margin-top: 10px;
      font-size: 24px;
      font-weight: bold;
      color: #FFF;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    }
  }

  .weapon {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 30px;
    top: 20px;
    outline: 1px solid red;
  }

  .hero-skill {
    position: absolute;
    width: 61px;
    height: 59px;
    background: url("../textures/spell_shaman.png");

    &.op {
      right: 24px;
      top: 62px;
    }

    &.my {
      right: 22px;
      top: 37px;
    }
  }

  .decks {
    position: absolute;
    width: 40px;
    height: 400px;
    top: @h/2-200px;
    right: 0;
  }

  .deck {
    &.op {
      top: 0;
    }

    &.my {
      bottom: 0;
    }
  }

  .end-turn {
    position: absolute;
    top: 149px;
    right: 3px;
    width: 103px;
    height: 55px;
    background: url("../textures/enemy-turn.png");

    &.active {
      background: url("../textures/end-turn.png");

      &:hover:after {
        position: absolute;
        display: block;
        content: '';
        width: 117px;
        height: 70px;
        top: -10px;
        right: -11px;
        background: url("../textures/end-turn_active.png");
      }
    }
  }

}
