
.b {
  @w: 900px;
  @h: 654px;

  .battle {
    height: 697px;
    overflow: hidden;
    padding-top: 23px;
    background: url("../textures/board_1280.jpg") no-repeat;
  }

  .name {
    position: absolute;
    left: 2px;
    line-height: 32px;
    padding: 3px 31px 3px 16px;
    background: rgba(0,0,0, 0.31);

    color: #FFF;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-size: 17px;

    &.op {
      top: 27px;
    }

    &.my {
      top: 605px;
    }
  }

  .board {
    position: relative;
    width: @w;
    height: @h;
    margin: 0 auto;
    transform: perspective(300px) rotateX(1deg);
  }

  .history {
    display: none;
    position: absolute;
    width: 40px;
    height: 290px;
    top: @h/2-145px;
    left: 3px;
  }

  .hand {

    &.op {
      //transform: scale(0.94);
      //top: -92px;

      .hand-helper {
        top: 97px;
        left: 16px;
      }

      &:hover .hand-helper {
        display: block;
      }
    }

    &.my {
      bottom: -49px;
    }
  }

  .creatures.my .creature.selected {
    box-shadow: 0 0 8px #F00;
  }

  .card, .creature {
    //position: relative;
    //display: inline-block;
    //width: 77px;
    //height: 107px;
    //vertical-align: top;
    //margin-top: 0;

    &.sleep:after {
      position: absolute;
      display: inline-block;
      width: 50px;
      height: 50px;
      top: -18px;
      right: -19px;
      content: '';
      background: url("../textures/zzz.png");
    }

    IMG {
      position: absolute;
      top: -15px;
      left: -7px;
      width: 118px;
      pointer-events: none;
    }
  }

  //.card {
  //  margin-right: -40px;
  //}

  .creature {
    margin-right: 10px;

    &.purpose:after {
      position: absolute;
      content: "";
      top: -16px;
      left: -10px;
      width: 269px;
      height: 287px;
      background: url("../textures/card-fire-glow-square.png");
    }
  }

  .hand.my .card {
    //transition: margin 0.3s;

    &.selected {
      box-shadow: 0 0 12px 10px #F00;
    }

    &.available:after {
      position: absolute;
      content: '';
      top: -16px;
      left: -10px;
      width: 98px;
      height: 105px;
      background: url("../textures/card-glow.png");
    }

    //&:hover {
    //  margin-top: -44px;
    //  margin-right: 0;
    //}
  }

  .stats {
    position: absolute;
    width: 200px;
    height: 32px;

    &.op {
      top: 0;
      left: @w/2+145px;
    }

    &.my {
      bottom: 2px;
      left: @w/2+167px;
    }
  }

  .mana {
    display: inline-block;
    width: 66px;
    height: 100%;
    padding-top: 2px;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000;

    > SPAN {
      vertical-align: middle;
    }

    .active, .all {
      font-size: 16px;
      font-weight: bold;
    }

    .slash {
      font-size: 22px;
      margin: 0 1px;
    }
  }

  .battleground {
    position: absolute;
    width: 650px;
    height: 400px;
    top: @h/2-200px;
    padding-left: 156px;
  }

  .creatures {
    position: absolute;
    width: 600px;
    height: 110px;
    text-align: center;

    &.op {
      top: 60px;
      margin-top: 15px;
    }

    &.my {
      bottom: 85px;
    }
  }

  .hero {
    position: absolute;
    width: 340px;
    height: 124px;
    left: @w/2-170px;

    &.op {
      top: 41px;
    }

    &.my {
      bottom: 70px;
    }
  }

  .avatar {
    position: absolute;
    width: 108px;
    height: 124px;
    background: url("../textures/hero_shaman.png");

    &:hover:after {
      position: absolute;
      content: "";
      left: -23px;
      top: -16px;
      width: 147px;
      height: 180px;
      background: url("../textures/hero-hover.png");
    }

    &.purpose:after {
      position: absolute;
      content: "";
      top: -5px;
      left: -7px;
      width: 123px;
      height: 131px;
      background: url("../textures/hero-fire-glow.png");
    }

    &.op {
      left: 116px;
    }

    &.my {
      left: 118px;
    }
  }

  .health {
    position: absolute;
    width: 30px;
    height: 41px;
    right: -5px;
    text-align: center;
    background: url("../textures/health.png") no-repeat;

    &.op {
      bottom: -6px;
    }

    &.my {
      bottom: -5px;
    }

    .value {
      display: inline-block;
      margin-top: 12px;
      font-size: 22px;
      font-weight: bold;
      color: #FFF;
      text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    }
  }

  .weapon {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 30px;
    top: 20px;
  }

  .hero-skill {
    position: absolute;
    width: 99px;
    height: 105px;

    &.op {
      left: 236px;
      top: 29px;
    }

    &.my {
      left: 238px;
      top: 8px;

      &.available:after {
        content: '';
        display: block;
        width: 115px;
        height: 104px;
        margin-top: -2px;
        margin-left: -9px;
        background: url("../textures/hero-skill-glow.png");
      }
    }

    &:hover:before {
      position: absolute;
      top: -3px;
      left: -10px;
      width: 118px;
      height: 118px;
      content: "";
      background: url("../textures/hero-skill-hover.png");
    }

    .background {
      position: absolute;
      width: 61px;
      height: 59px;
      margin-top: 27px;
      margin-left: 19px;
      background: url("../textures/spell_shaman.png");
    }

    .frame {
      position: absolute;
      width: 99px;
      height: 105px;
      background: url("../textures/hero-skill-frame.png");
    }

    &.used {
      .background {
        display: none;
      }

      .frame {
        background: url("../textures/hero-skill-inactive.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .decks {
    position: absolute;
    width: 40px;
    height: 400px;
    top: @h/2-200px;
    right: 0;
  }

  .deck {
    position: absolute;
    width: 61px;

    &.op {
      top: 14px;
      height: 120px;
    }

    &.my {
      top: 222px;
      height: 106px;
    }

    &:hover .deck-helper {
      display: block;
    }
  }

  .table {
    position: absolute;
    width: 178px;
    height: 108px;
    background: url("../textures/table.png");
    text-align: left;
    cursor: default;
    pointer-events: none;
    display: none;

    .header {
      margin: 18px 0 0 33px;
      font-size: 16px;
      font-family: "Belwe Bold", Times, serif;
      font-weight: bold;
      color: #FFF;
      text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 2px #000;
    }

    .text {
      margin: 7px 17px 0 33px;
      font-size: 12px;
      color: #FDFDFD;
    }

    .value {
      margin: 0 3px;
    }
  }

  .deck-helper {
    &.op {
      top: 8px;
      left: -144px;
    }

    &.my {
      top: 4px;
      left: -151px;
    }
  }

  .end-turn {
    position: absolute;
    top: 149px;
    right: 3px;
    width: 103px;
    height: 55px;
    background: url("../textures/enemy-turn.png");

    &.active {
      background: url("../textures/end-turn.png");

      &:hover:after {
        position: absolute;
        display: block;
        content: '';
        width: 117px;
        height: 70px;
        top: -10px;
        right: -11px;
        background: url("../textures/end-turn_active.png");
      }
    }
  }

  .hero-skill .frame:hover .skill-helper {
    display: block;
  }

  @keyframes margin {
    0% {
      margin: 0 0;
    }
    25% {
      margin: -1px -2px;
    }
    50% {
      margin: 0 2px;
    }
    75% {
      margin: 2px 1px;
    }
  }

  .skill-helper {
    display: none;
    position: absolute;
    width: 173px;
    height: 259px;
    pointer-events: none;
    background: url("../textures/skill-helper-s.png");
    margin: 0;
    animation: margin linear 10s infinite;

    &.op {
      top: 96px;
      left: 0;
    }

    &.my {
      top: -248px;
      left: -10px;
    }
  }

  @keyframes background-offset {
    from {
      background-position: -87px 9px;
    }
    to {
      background-position: -19px -21px;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes blink2 {
    50% {
      opacity: 0;
    }
  }

  .decor1 {
    display: block;
    position: absolute;
    top: 466px;
    left: 41px;
    width: 150px;
    height: 86px;
    background: url("../textures/waterfall-fluids-2.png");
    animation: background-offset linear 2s infinite;
  }

  .decor1:after {
    position: absolute;
    top: -34px;
    left: 11px;
    width: 167px;
    height: 155px;
    content: "";
    background: url("../textures/waterfall-air-3.png");
    opacity: 1;
    animation: blink ease-in-out 5s infinite;
  }

  .decor2 {
    position: absolute;
    top: 46px;
    left: 678px;
    width: 139px;
    height: 112px;
    background: url("../textures/gate-glow-2.png");
    opacity: 0.9;
    animation: blink2 ease-in-out 9s infinite;
  }

  @keyframes eyes {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    60.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .decor3 {
    position: absolute;
    top: 128px;
    left: 158px;
    width: 20px;
    height: 8px;
    background: url("../textures/eyes.png");
    animation: eyes linear 10s infinite;
  }

  //.cursor-blow {
  //  position: absolute;
  //  margin-top: -36px;
  //  margin-left: -35px;
  //  width: 69px;
  //  height: 73px;
  //  background: url("../textures/cursor-blow.png");
  //
  //  &.step2 {
  //    background: url("../textures/cursor-blow-3.png");
  //  }
  //}


  .hand {
    position: absolute;

    &.my {
      top: 597px;
      left: 395px;
    }

    &.op {
      transform: scale(0.8);
      top: -79px;
      left: 403px;

      .hand-helper {
        transform: scale(1.25);
        top: 117px;
        left: -110px;
      }
    }
  }

  .card {
    position: absolute;
    width: 85px;
    height: 122px;
    top: 0;
    transform: rotate(0);

    IMG {
      position: absolute;
      pointer-events: none;
      top: -13px;
      left: -7px;
      width: 100px;
    }
  }

  .card-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 122px;
    transition: top ease-out 0.2s;
  }

  .hand.my .card-wrap {
    transform-origin: 60% 554px;
  }

  .hand.op .card-wrap {
    transform-origin: 60% -554px;
  }

  .hand1 .c1 { transform: rotate(0deg); }

  .hand2 .c1 { transform: rotate(0deg) translate(-45px,0); }
  .hand2 .c2 { transform: rotate(0deg) translate(45px,0); }

  .hand3 .c1 { transform: rotate(0deg) translate(-90px,0); }
  .hand3 .c2 { transform: rotate(0deg); }
  .hand3 .c3 { transform: rotate(0deg) translate(90px,0); }

  .hand4 .card { transform: rotate(-8deg); }
  .hand4 .c1 { transform: rotate(-15deg); }
  .hand4 .c2 { transform: rotate(-5deg); }
  .hand4 .c3 { transform: rotate(5deg); }
  .hand4 .c4 { transform: rotate(15deg); }

  .hand5 .card { transform: rotate(-8deg); }
  .hand5 .c1 { transform: rotate(-16deg); }
  .hand5 .c2 { transform: rotate(-8deg); }
  .hand5 .c3 { transform: rotate(0deg); }
  .hand5 .c4 { transform: rotate(8deg); }
  .hand5 .c5 { transform: rotate(16deg); }

  .hand6 .card { transform: rotate(-8deg); }
  .hand6 .c1 { transform: rotate(-18deg); }
  .hand6 .c2 { transform: rotate(-11deg); }
  .hand6 .c3 { transform: rotate(-4deg); }
  .hand6 .c4 { transform: rotate(3deg); }
  .hand6 .c5 { transform: rotate(10deg); }
  .hand6 .c6 { transform: rotate(17deg); }

  .hand7 .card { transform: rotate(-8deg); }
  .hand7 .c1 { transform: rotate(-18deg); }
  .hand7 .c2 { transform: rotate(-12deg); }
  .hand7 .c3 { transform: rotate(-6deg); }
  .hand7 .c4 { transform: rotate(0deg); }
  .hand7 .c5 { transform: rotate(6deg); }
  .hand7 .c6 { transform: rotate(12deg); }
  .hand7 .c7 { transform: rotate(18deg); }

  .hand.my .card-wrap:hover {
    top: -28px;
  }


  @keyframes up {
    100% {
      top: -320px;
    }
  }

  .card-preview {
    position: absolute;
    pointer-events: none;
    top: -310px;
    left: -90px;
    animation: up ease-out 2s;
  }

}
