.c {

  .collection {
    width: 1280px;
    height: 720px;
    background: url("../textures/collection_1280.jpg");
  }

  .create-deck-screen {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: url("../textures/create-deck_1280.jpg");

    &.show {
      display: block;
    }
  }

  .hero-right-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 887px;
    width: 232px;
    height: 688px;
    background: url("../textures/right-panel.png");
  }

  .hero-mode .hero-right-panel {
    display: block;
  }

  .btn-back {
    position: absolute;
    width: 100px;
    height: 54px;
    top: 700px;
    left: 800px;
  }

  .heroes {
    position: absolute;
    top: 105px;
    left: 235px;
    width: 500px;
  }

  .hero {
    display: inline-block;
    width: 160px;
    height: 133px;
    margin-top: 15px;

    &:hover {
      cursor: pointer;
    }

    &.selected {
      outline: 4px solid #0F0;
    }
  }

  .choose {
    position: absolute;
    display: none;
    top: 520px;
    left: 855px;
    width: 160px;
    height: 152px;
    cursor: pointer;
    background: url("../textures/choose.png");

    &.show {
      display: block;
    }
  }

  .my-decks {
    position: absolute;
    top: 56px;
    left: 907px;
    width: 163px;
    height: 586px;
    padding: 6px 5px;
  }

  .new-deck {
    width: 151px;
    height: 62px;
    background: url("../textures/new-deck.png");
  }

  .cards {
    display: inline-block;
    vertical-align: top;
    width: 600px;
  }

  .tabs {
    position: absolute;
    top: 13px;
    left: 174px;
  }

  .tab {
    display: inline-block;
    width: 39px;
    height: 32px;
    margin-right: 5px;
    cursor: pointer;
    transform-origin: bottom;
    transition: transform 0.1s;

    &.neutral { background: url("../textures/class-icons-neutral.png"); }
    &.druid { background: url("../textures/class-icons-druid.png"); }
    &.hunter { background: url("../textures/class-icons-hunter.png"); }
    &.mage { background: url("../textures/class-icons-mage.png"); }
    &.paladin { background: url("../textures/class-icons-paladin.png"); }
    &.priest { background: url("../textures/class-icons-priest.png"); }
    &.rogue { background: url("../textures/class-icons-rogue.png"); }
    &.shaman { background: url("../textures/class-icons-shaman.png"); }
    &.warlock { background: url("../textures/class-icons-warlock.png"); }
    &.warrior { background: url("../textures/class-icons-warrior.png"); }

    &:hover {
      transform: scale(1.05);
    }

    &.selected {
      transform: scale(1.3);
    }
  }

  .cards {
    position: absolute;
    top: 84px;
    left: 194px;
    width: 640px;
  }

  .card {
    display: inline-block;

    .img {
      width: 160px;
      height: 221px;
    }

    &:after {
      display: block;
      position: absolute;
      content: '';
      bottom: -20px;
      margin-left: 53px;
      width: 55px;
      height: 30px;
      background: url("../textures/collection-card-modificator_x2.png");
    }

    &.lock:after {
      display: block;
      position: absolute;
      content: '';
      bottom: -20px;
      margin-left: 53px;
      width: 55px;
      height: 30px;
      background: url("../textures/collection-card-modificator_lock.png");
    }
  }

  .decks-wrapper {
    margin-top: 2px;
    margin-left: 5px;
  }

  .deck {
    width: 143px;
    height: 57px;
    margin-bottom: 7px;
    cursor: pointer;

    .frame {
      width: 143px;
      height: 57px;
      background: url("../textures/deck-avatar.png");
    }

    .label {
      position: absolute;
      width: 70px;
      height: 30px;
      margin-top: 32px;
      margin-left: 17px;
      color: #FFF;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    .background {
      position: absolute;
      width: 125px;
      height: 37px;
      margin: 10px 0 0 11px;

      &.druid {
        background: url("../textures/deck-hero-druid.jpg");
      }
      &.hunter {
        background: url("../textures/deck-hero-hunter.jpg");
      }
      &.mage {
        background: url("../textures/deck-hero-mage.jpg");
      }
      &.paladin {
        background: url("../textures/deck-hero-paladin.jpg");
      }
      &.priest {
        background: url("../textures/deck-hero-priest.jpg");
      }
      &.rogue {
        background: url("../textures/deck-hero-rogue.jpg");
      }
      &.shaman {
        background: url("../textures/deck-hero-shaman.jpg");
      }
      &.warlock {
        background: url("../textures/deck-hero-warlock.jpg");
      }
      &.warrior {
        background: url("../textures/deck-hero-warrior.jpg");
      }
    }
  }

}
