HTML {
  height: 100%;
}

BODY {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #3C3C3C;
  user-select: none;
  -webkit-user-select: none;
}

#app {
  position: relative;
  cursor: pointer;
}

.screen {
  position: absolute;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}

@font-face {
  font-family: 'Belwe Bold';
  src: url("/fonts/belwe-bold.ttf");
}

@font-face {
  font-family: 'Belwe Bold';
  src: url("/fonts/belwe-bd-bt-bold.ttf");
  font-weight: bold;
}

.cursor {
  position: absolute;
  width: 43px;
  height: 43px;
  background: url("/textures/hand.png");
  pointer-events: none;

  &.down {
    background: url("/textures/hand-down.png");
  }
}
