
.b {
  .ballons-hide-zone {
    position: absolute;
    top: 425px;
    left: 401px;
    width: 477px;
    height: 189px;
  }

  .ballons {
    position: absolute;
    top: 5px;
    left: 50px;
  }

  .hiding .ballon {
    animation: scale-down 0.15s linear forwards;
  }

  .ballon {
    position: absolute;
    width: 128px;
    height: 61px;

    text-align: center;
    line-height: 48px;
    color: #000;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    font-size: 17px;
    transition: transform 0.1s linear;

    &:hover {
      transform: scale(1.1);
    }

    &.left {
      background: url("/textures/ballon_left.png");
    }

    &.right {
      background: url("/textures/ballon_right.png");
    }

    &.b1 {
      top: 0;
      left: 30px;
    }
    &.b2 {
      top: 57px;
      left: 0;
    }
    &.b3 {
      top: 122px;
      left: 3px;
    }
    &.b4 {
      top: 0;
      left: 223px;
    }
    &.b5 {
      top: 57px;
      left: 253px;
    }
    &.b6 {
      top: 122px;
      left: 250px;
    }
  }

  .big-ballon {
    position: absolute;
    width: 157px;
    height: 125px;
    background: url("/textures/big-ballon.png");
    text-align: center;

    animation: bounce-up 3s linear forwards;

    &.my {
      top: 383px;
      left: 699px;
    }

    &.op {
      top: 26px;
      left: 700px;
    }

    &:before {
      display: inline-block;
      content: "";
      vertical-align: middle;
      height: 100px;
    }

    .text {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: #000;
      font-family: sans-serif;
      font-size: 22px;
    }
  }

  @keyframes scale-down {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes bounce-up {
    0% {
      transform: scale(0);
    }
    5% {
      transform: scale(1.1);
    }
    7% {
      transform: scale(0.95);
    }
    9% {
      transform: scale(1.1);
    }
    11% {
      transform: scale(1);
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}
