.b {

  .splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 83px;
    height: 94px;

    background: url("/textures/splash.png");
    animation: scale-in-out 1s linear forwards;

    .value {
      color: #FFF;
      margin-left: -3px;
      line-height: 94px;
      font-family: "Belwe Bold", Times, serif;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 1px #000,0 0 2px #000;
      font-size: 30px;
    }
  }

  .play-card-preview {
    position: absolute;
    top: -60px;
    left: 604px;

    animation: up-from-op-deck 2s linear forwards;
  }

  @keyframes up-from-op-deck {
    0% {
      transform: translate(0, 0) scale(1);
    }
    30% {
      transform: translate(-353px,229px) scale(2.5);
    }
    100% {
      transform: translate(-353px,229px) scale(2.5);
    }
  }

  @keyframes up-from-op-hero-skill {
    0% {
      transform: translate(0, 0) scale(0.6);
    }
    30% {
      transform: translate(-453px,200px) scale(1.4);
    }
    100% {
      transform: translate(-453px,200px) scale(1.4);
    }
  }

  .hero-skill-card {
    position: absolute;
    top: 100px;
    left: 700px;
    width: 173px;
    height: 259px;
    background: url("/textures/skill-helper-druid.png");
    animation: up-from-op-hero-skill 2s linear forwards;
  }
}
