.b {

  .splash {
    position: absolute;
    top: 0;
    left: 0;

    animation: scale-in-out 1s linear forwards;

    &.damage {
      width: 83px;
      height: 94px;
      background: url("/textures/splash.png");

      .value {
        line-height: 94px;
      }
    }

    &.heal {
      width: 92px;
      height: 99px;
      background: url("/textures/heal.png");

      .value {
        line-height: 99px;
      }
    }

    .value {
      color: #FFF;
      margin-left: -3px;
      font-family: "Belwe Bold", Times, serif;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 1px #000,0 0 2px #000;
      font-size: 30px;
    }
  }

  .play-card-preview {
    position: absolute;
    top: -60px;
    left: 604px;

    animation: up-from-op-deck 2s linear forwards;
  }

  @keyframes up-from-op-deck {
    0% {
      transform: translate(0, 0) scale(1);
    }
    30% {
      transform: translate(-353px,229px) scale(2.5);
    }
    100% {
      transform: translate(-353px,229px) scale(2.5);
    }
  }

  @keyframes up-from-op-hero-skill {
    0% {
      transform: translate(0, 0) scale(0.6);
    }
    30% {
      transform: translate(-453px,200px) scale(1.4);
    }
    100% {
      transform: translate(-453px,200px) scale(1.4);
    }
  }

  .hero-skill-card {
    position: absolute;
    top: 100px;
    left: 700px;
    width: 173px;
    height: 259px;
    background: url("/textures/skill-helper-druid.png");
    animation: up-from-op-hero-skill 2s linear forwards;
  }

  .projectile {
    position: absolute;

    transition: top 0.2s linear, left 0.2s linear;

    pointer-events: none;

    .fireball {
      width: 35px;
      height: 105px;
      margin-top: -12px;
      margin-left: 4px;
      background: url("/textures/fireball.png");
    }

    .arrow {
      width: 35px;
      height: 118px;
      margin-top: -12px;
      margin-left: 4px;
      background: url("/textures/arrow.png");
    }
  }
}
