
.ballons-hide-zone
   .ballons
      .ballon.left.b1(data-msg='thanks') Thanks
      .ballon.left.b2(data-msg='well-played') Well Played
      .ballon.left.b3(data-msg='greetings') Greetings
      .ballon.right.b4(data-msg='sorry') Sorry
      .ballon.right.b5(data-msg='oops') Oops
      .ballon.right.b6(data-msg='threaten') Threaten
