
each card in cards
   .card-wrapper
      .card(data-id= card.id,
         class= (card.flags['unique'] ? 'unique' : '') + (card.flags['unimplemented'] ? ' not-impl': ''))

         if (card.loaded)
            IMG.img.front(src=H.makeCardUrl(card.pic))

         .glow

         if (card.flags['unimplemented'])
            .unimplemented Not implemented
