
each card in cards
   .card-wrapper
      .card(data-id= card.id,
         class= (card.flags['unique'] ? 'unique' : '')+(card.flags['unimplemented'] ? ' unimplemented-card' : ''))

         if (card.loaded)
            IMG.img.front(src=H.makeCardUrl(card.pic))

         .glow
