.b {

  .splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 83px;
    height: 94px;
    line-height: 94px;
    background: url("/textures/splash.png");

    text-align: center;
    font-size: 30px;
  }

}
