
.b {

  &.arrow-mode * {
    cursor: none !important;
  }

  .battle {
    height: 697px;
    overflow: hidden;
    padding-top: 23px;
    background: url("/textures/board.jpg") no-repeat;

    &.dragging {
      cursor: -webkit-grabbing !important;
    }
  }

  .name {
    position: absolute;
    left: 1px;
    line-height: 32px;
    padding: 3px 31px 3px 16px;
    background: rgba(0,0,0, 0.31);

    color: #FFF;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-size: 17px;

    &.op {
      top: 27px;
    }

    &.my {
      top: 605px;
    }
  }

  .board {
    position: relative;
    width: 900px;
    height: 654px;
    margin: 0 auto;
  }

  .history {
    display: none;
    position: absolute;
    width: 40px;
    height: 290px;
    top: 182px;
    left: 3px;
  }

  .hand-helper-zone {
    position: absolute;
    top: -30px;
    left: 322px;
    width: 246px;
    height: 49px;

    &:hover .hand-helper {
      display: block;
    }
  }

  .hand-helper {
    top: 88px;
    left: -26px;
  }

  .creature, .avatar {
    &.find-target {
      transform: scale(1.12);
    }
  }

  .stats {
    position: absolute;
    width: 200px;
    height: 32px;

    &.my {
      top: 626px;
      left: 621px;
    }

    &.op {
      top: 6px;
      left: 592px;
    }
  }

  .mana {
    display: inline-block;
    width: 66px;
    height: 100%;
    padding-top: 2px;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 1px #000,0 0 1px #000,0 0 1px #000;

    > SPAN {
      vertical-align: middle;
    }

    .active, .all {
      font-size: 16px;
      font-weight: bold;
    }

    .slash {
      font-size: 22px;
      margin: 0 1px;
    }
  }

  .hero {
    position: absolute;
    width: 340px;
    height: 124px;
    left: 280px;

    &.op {
      top: 45px;
    }

    &.my {
      top: 463px;
    }
  }

  &.normal-mode .avatar.available:before {
    position: absolute;
    content: "";
    left: -8px;
    top: -9px;
    width: 124px;
    height: 107px;
    background: url("/textures/hero-glow.png");
  }

  .avatar {
    position: absolute;
    width: 108px;
    height: 124px;

    transition: transform 0.2s linear;

    &.freeze .o1:before {
      position: absolute;
      top: -26px;
      left: -34px;
      width: 165px;
      height: 182px;
      content: "";
      background: url("/textures/hero-freeze.png");
    }

    &:hover:after {
      position: absolute;
      content: "";
      left: -23px;
      top: -16px;
      width: 147px;
      height: 180px;
      background: url("/textures/hero-hover.png");
    }

    &.purpose:after {
      position: absolute;
      content: "";
      top: -5px;
      left: -7px;
      width: 123px;
      height: 131px;
      background: url("/textures/hero-fire-glow.png");
    }

    &.casting:after {
      position: absolute;
      content: "";
      top: -18px;
      left: -27px;
      width: 165px;
      height: 165px;
      background: url("/textures/rune-1.png");

      animation: rotate linear 16s infinite;
    }

    &.op {
      left: 116px;
    }

    &.my {
      left: 118px;
    }

    &.warrior { background: url("/textures/heroes/warrior.png"); }
    &.shaman  { background: url("/textures/heroes/shaman.png"); }
    &.rogue   { background: url("/textures/heroes/rogue.png"); }
    &.paladin { background: url("/textures/heroes/paladin.png"); }
    &.hunter  { background: url("/textures/heroes/hunter.png"); }
    &.druid   { background: url("/textures/heroes/druid.png"); }
    &.warlock { background: url("/textures/heroes/warlock.png"); }
    &.mage    { background: url("/textures/heroes/mage.png"); }
    &.priest  { background: url("/textures/heroes/priest.png"); }
    &.jaraxxus{ background: url("/textures/heroes/jaraxxus.png"); }

    .overlay {
      position: absolute;
      top: 0;
    }
  }

  .health {
    position: absolute;
    display: none;
    width: 30px;
    height: 41px;
    right: -5px;
    text-align: center;
    background: url("/textures/health.png") no-repeat;

    &.op {
      bottom: -6px;
    }

    &.my {
      bottom: -5px;
    }

    .value {
      margin-top: 10px;
    }
  }

  .armor {
    position: absolute;
    display: none;
    width: 37px;
    height: 43px;
    right: -7px;
    text-align: center;
    background: url("/textures/hero-shield.png");

    &.op {
      bottom: 20px;
    }

    &.my {
      bottom: 23px;
    }

    .value {
      margin-top: 6px;
    }
  }

  .avatar .attack {
    position: absolute;
    display: none;
    width: 41px;
    height: 41px;
    text-align: center;
    background: url("/textures/hero-attack.png");

    &.op {
      left: -16px;
      bottom: -6px;
    }

    &.my {
      left: -16px;
      bottom: -6px;
    }

    .value {
      margin-top: 9px;
      margin-left: 7px;
    }
  }

  .health .value, .armor .value, .attack .value, .weapon .value {
    display: inline-block;
    color: #FFF;

    font-size: 22px;
    font-weight: bold;
    font-family: "Belwe Bold", Times, serif;
    text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 2px #000;
  }

  .weapon {
    position: absolute;
    display: none;

    &.my {
      top: 17px;
      left: -12px;
    }

    &.op {
      top: 42px;
      left: -5px;
    }

    &.off .locker {
      position: absolute;
      width: 111px;
      height: 98px;
      background: url("/textures/weapon-frame_lock.png");
    }

    .pic {
      position: absolute;
      top: 11px;
      left: 16px;
      width: 78px;
    }

    .frame {
      position: absolute;
      width: 111px;
      height: 98px;
      background: url("/textures/weapon-frame.png");
    }

    .attack, .durability {
      text-align: center;
      font-size: 24px;
    }

    .attack {
      position: absolute;
      top: 69px;
      left: 12px;
      width: 26px;
      height: 26px;
      line-height: 22px;
      background: url("/textures/weapon-attack.png");
    }

    .durability {
      position: absolute;
      top: 66px;
      left: 79px;
      width: 22px;
      height: 26px;
      line-height: 26px;
      background: url("/textures/weapon-durability.png");
    }
  }

  &.normal-mode .hero-skill.my.available:after {
    content: '';
    display: block;
    width: 115px;
    height: 104px;
    margin-top: -2px;
    margin-left: -9px;
    background: url("/textures/hero-skill-glow.png");
  }

  .hero-skill {
    position: absolute;
    width: 97px;
    height: 104px;

    &.op {
      left: 236px;
      top: 28px;
    }

    &.my {
      left: 238px;
      top: 8px;
    }

    &:hover:before {
      position: absolute;
      top: -3px;
      left: -10px;
      width: 118px;
      height: 118px;
      content: "";
      background: url("/textures/hero-skill-hover.png");
    }

    .pic {
      position: absolute;
      width: 97px;
      height: 104px;
    }

    &.off .pic {
      background: url("/textures/hero-skill-off.png");
      background-repeat: no-repeat;
      background-position: 0 6px;
    }
  }

  .shapeshift     .pic { background: url("/textures/hero-powers/shapeshift.png"); }
  .totemic-call   .pic { background: url("/textures/hero-powers/totemic-call.png"); }
  .armor-up       .pic { background: url("/textures/hero-powers/armor-up.png"); }
  .life-tap       .pic { background: url("/textures/hero-powers/life-tap.png"); }
  .lesser-heal    .pic { background: url("/textures/hero-powers/lesser-heal.png"); }
  .dagger-mastery .pic { background: url("/textures/hero-powers/dagger-mastery.png"); }
  .reinforce      .pic { background: url("/textures/hero-powers/reinforce.png"); }
  .fireblast      .pic { background: url("/textures/hero-powers/fireblast.png"); }
  .steady-shot    .pic { background: url("/textures/hero-powers/steady-shot.png"); }

  .dire-shapeshift  .pic { background: url("/textures/hero-powers/dire-shapeshift.png"); }
  .totemic-slam     .pic { background: url("/textures/hero-powers/totemic-slam.png"); }
  .tank-up          .pic { background: url("/textures/hero-powers/tank-up.png"); }
  .soul-tap         .pic { background: url("/textures/hero-powers/soul-tap.png"); }
  .heal             .pic { background: url("/textures/hero-powers/heal.png"); }
  .poisoned-daggers .pic { background: url("/textures/hero-powers/poisoned-daggers.png"); }
  .the-silver-hand  .pic { background: url("/textures/hero-powers/the-silver-hand.png"); }
  .fireblast-rank-2 .pic { background: url("/textures/hero-powers/fireblast-rank-2.png"); }
  .ballista-shot    .pic { background: url("/textures/hero-powers/ballista-shot.png"); }

  .inferno        .pic { background: url("/textures/hero-powers/inferno.png"); }


  .shapeshift     .skill-helper { background: url("/textures/hero-powers/helper_shapeshift.png"); }
  .totemic-call   .skill-helper { background: url("/textures/hero-powers/helper_totemic-call.png"); }
  .armor-up       .skill-helper { background: url("/textures/hero-powers/helper_armor-up.png"); }
  .life-tap       .skill-helper { background: url("/textures/hero-powers/helper_life-tap.png"); }
  .lesser-heal    .skill-helper { background: url("/textures/hero-powers/helper_lesser-heal.png"); }
  .dagger-mastery .skill-helper { background: url("/textures/hero-powers/helper_dagger-mastery.png"); }
  .reinforce      .skill-helper { background: url("/textures/hero-powers/helper_reinforce.png"); }
  .fireblast      .skill-helper { background: url("/textures/hero-powers/helper_fireblast.png"); }
  .steady-shot    .skill-helper { background: url("/textures/hero-powers/helper_steady-shot.png"); }

  .dire-shapeshift  .skill-helper { background: url("/textures/hero-powers/helper_dire-shapeshift.png"); }
  .totemic-slam     .skill-helper { background: url("/textures/hero-powers/helper_totemic-slam.png"); }
  .tank-up          .skill-helper { background: url("/textures/hero-powers/helper_tank-up.png"); }
  .soul-tap         .skill-helper { background: url("/textures/hero-powers/helper_soul-tap.png"); }
  .heal             .skill-helper { background: url("/textures/hero-powers/helper_heal.png"); }
  .poisoned-daggers .skill-helper { background: url("/textures/hero-powers/helper_poisoned-daggers.png"); }
  .the-silver-hand  .skill-helper { background: url("/textures/hero-powers/helper_the-silver-hand.png"); }
  .fireblast-rank-2 .skill-helper { background: url("/textures/hero-powers/helper_fireblast-rank-2.png"); }
  .ballista-shot    .skill-helper { background: url("/textures/hero-powers/helper_ballista-shot.png"); }

  .inferno        .skill-helper { background: url("/textures/hero-powers/helper_inferno.png"); }


  .deck-helper {
    &.op {
      top: 63px;
      left: -140px;
    }

    &.my {
      top: 57px;
      left: -150px;
    }
  }

  .hero-skill:hover .skill-helper {
    display: block;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes margin {
    0% {
      margin: 0 0;
    }
    25% {
      margin: -1px -2px;
    }
    50% {
      margin: 0 2px;
    }
    75% {
      margin: 2px 1px;
    }
  }

  .skill-helper {
    display: none;
    position: absolute;
    width: 173px;
    height: 259px;
    pointer-events: none;
    margin: 0;
    animation: margin linear 10s infinite;

    &.op {
      top: 96px;
      left: 0;
    }

    &.my {
      top: -248px;
      left: -10px;
    }
  }

  @keyframes background-offset {
    from {
      background-position: -87px 9px;
    }
    to {
      background-position: -19px -21px;
    }
  }

  @keyframes blink {
    50% {
      opacity: 0.5;
    }
  }

  @keyframes blink2 {
    50% {
      opacity: 0;
    }
  }

  .decor1 {
    display: block;
    position: absolute;
    top: 464px;
    left: 43px;

    width: 150px;
    height: 86px;
    background: url("/textures/waterfall-fluids-2.png");
    animation: background-offset linear 2s infinite;
  }

  .decor1:after {
    position: absolute;
    top: -32px;
    left: 9px;
    width: 167px;
    height: 155px;
    content: "";
    background: url("/textures/waterfall-air-3.png");
    opacity: 1;
    animation: blink ease-in-out 5s infinite;
  }

  .decor2 {
    position: absolute;
    top: 46px;
    left: 678px;
    width: 139px;
    height: 112px;
    background: url("/textures/gate-glow-2.png");
    opacity: 0.9;
    animation: blink2 ease-in-out 9s infinite;
  }

  @keyframes eyes {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
  }

  .decor3 {
    position: absolute;
    top: 130px;
    left: 162px;
    width: 20px;
    height: 8px;
    background: url("/textures/eyes.png");
    animation: eyes step-end 10s infinite;
  }

  @keyframes bg-offset {
    0% { background-position: 0 0; }
    100% { background-position: 0 -107px; }
  }

  .targeting-arrow {
    position: absolute;
    display: none;
    width: 47px;
    height: 0;

    margin-left: -24px;

    transform: rotate(0deg);
    transform-origin: 50% 100%;
    pointer-events: none;

    &:after {
      position: absolute;
      top: 4px;
      left: -16px;
      width: 78px;
      height: 32px;
      content: "";
      background: url("/textures/targeting-arrow.png");
    }

    &.with-crosshair:before {
      position: absolute;
      top: -39px;
      left: -17px;
      width: 82px;
      height: 82px;
      content: "";
      background: url("/textures/target.png");
    }

    .dash {
      position: absolute;
      top: 54px;
      bottom: 0;
      width: 47px;
      background: url("/textures/targeting.png");
      animation: bg-offset linear 4s infinite;
    }

  }

  .crystals {
    position: absolute;
    top: 5px;
    left: 67px;
    white-space: nowrap;

    &:hover .table {
      display: block;
      top: -58px;
      left: -121px;
      height: 12px;
    }

    &.cn1 .normal, &.co1 .off, &.cl1 .lock, &.no1 .next-overload {
      width: 21px;
    }
    &.cn2 .normal, &.co2 .off, &.cl2 .lock, &.no2 .next-overload {
      width: 42px;
    }
    &.cn3 .normal, &.co3 .off, &.cl3 .lock, &.no3 .next-overload {
      width: 63px;
    }
    &.cn4 .normal, &.co4 .off, &.cl4 .lock, &.no4 .next-overload {
      width: 84px;
    }
    &.cn5 .normal, &.co5 .off, &.cl5 .lock, &.no5 .next-overload {
      width: 105px;
    }
    &.cn6 .normal, &.co6 .off, &.cl6 .lock, &.no6 .next-overload {
      width: 126px;
    }
    &.cn7 .normal, &.co7 .off, &.cl7 .lock, &.no7 .next-overload {
      width: 147px;
    }
    &.cn8 .normal, &.co8 .off, &.cl8 .lock, &.no8 .next-overload {
      width: 168px;
    }
    &.cn9 .normal, &.co9 .off, &.cl9 .lock, &.no9 .next-overload {
      width: 189px;
    }
    &.cn10 .normal, &.co10 .off, &.cl10 .lock, &.no10 .next-overload {
      width: 210px;
    }

    .normal {
      display: inline-block;
      width: 0;
      height: 22px;
      background: url("/textures/mana-gem.png");
    }

    .off {
      display: inline-block;
      width: 0;
      height: 22px;
      background: url("/textures/mana-gem_off.png");
    }

    .lock {
      display: inline-block;
      width: 0;
      height: 22px;
      background: url("/textures/gem-lock.png") repeat-x 0 2px;
    }

    .next-overload {
      position: absolute;
      right: 0;
      width: 0;
      height: 19px;
      background: url("/textures/gem-lock.png");
    }

  }

  .traps {
    position: absolute;

    &.my .trap:hover .trap-preview {
      display: block;
    }
  }

  .trap {
    position: absolute;
    width: 40px;
    height: 40px;

    &:after {
      position: absolute;
      top: -9px;
      left: -10px;
      width: 60px;
      height: 58px;
      content: "";
      pointer-events: none;
      background: url("/textures/trap_glow.png");
    }

    &.t0 {
      top: -22px;
      left: 33px;
    }
    &.t1 {
      top: 1px;
      left: -4px;
    }
    &.t2 {
      top: 1px;
      left: 70px;
    }
  }

  .active .my .trap:after,
  .wait .op .trap:after {
    position: absolute;
    top: -9px;
    left: -10px;
    width: 60px;
    height: 58px;
    pointer-events: none;
    content: "";
    background: url("/textures/trap.png");
  }

  .trap-preview {
    position: absolute;
    display: none;
    top: -144px;
    left: 42px;
    width: 223px;
    pointer-events: none;
  }

  @keyframes scale-in-out {
    0% {
      transform: scale(0);
    }
    10% {
      transform: scale(1);
    }
    95% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  .your-turn {
    position: absolute;
    display: none;
    top: 162px;
    left: 290px;
    width: 667px;
    height: 301px;
    pointer-events: none;
    background: url("/textures/your-turn.png");

    animation: scale-in-out linear 2.5s forwards;
  }

  .boom {
    position: absolute;
    display: none;

    &.my {
      top: 322px;
      left: 210px;
      width: 499px;
      height: 305px;
      background: url("/textures/boom-my.png");
    }

    &.op {
      top: 15px;
      left: 248px;
      width: 425px;
      height: 246px;
      background: url("/textures/boom.png");
    }
  }

  .notice-cloud {
    position: absolute;
    top: 281px;
    left: 466px;

    width: 361px;
    height: 81px;

    color: #FFF;
    font-family: "Belwe Bold", Times, serif;
    font-weight: bold;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    font-size: 20px;
    text-align: center;
    line-height: 80px;

    animation: bounce-up linear 3s forwards;

    background: url("/textures/glow-cloud.png")
  }

}
