
.main-menu

   .disk
      .side.panel
         .play
      .side.back
         .border

   .footer
      .my-collection

   .table.statistic
      .header Statistics
      .text
         |Online users:
         SPAN.value


   .beta BETA
