
.main-menu

   .disk
      .side.panel
         .play
      .side.back
         .border

   .m.layer
      .overlay
         .box
            .part.left
            .part.right

   .footer
      .my-collection
