
.game-menu
   - if (inBattle)
      .btn-place: .btn.concede: SPAN Concede
      .splitter
   .btn-place: .btn.options: SPAN Options
   .btn-place: .btn.quit: SPAN Quit
   .splitter
   .btn-place: .btn.resume: SPAN Resume
