
.b {

  .battleground {
    position: absolute;
    top: -23px;
    left: -190px;
  }

  .creatures {
    position: absolute;
    top: 0;
    left: 0;

    &.op {
      &.count1 {
        .creature:nth-child(1) { transform: translate(602px, 225px); }
      }
      &.count2 {
        .creature:nth-child(1) { transform: translate(556px, 225px); }
        .creature:nth-child(2) { transform: translate(648px, 225px); }
      }
      &.count3 {
        .creature:nth-child(1) { transform: translate(510px, 225px); }
        .creature:nth-child(2) { transform: translate(602px, 225px); }
        .creature:nth-child(3) { transform: translate(694px, 225px); }
      }
      &.count4 {
        .creature:nth-child(1) { transform: translate(464px, 225px); }
        .creature:nth-child(2) { transform: translate(556px, 225px); }
        .creature:nth-child(3) { transform: translate(648px, 225px); }
        .creature:nth-child(4) { transform: translate(740px, 225px); }
      }
      &.count5 {
        .creature:nth-child(1) { transform: translate(418px, 225px); }
        .creature:nth-child(2) { transform: translate(510px, 225px); }
        .creature:nth-child(3) { transform: translate(602px, 225px); }
        .creature:nth-child(4) { transform: translate(694px, 225px); }
        .creature:nth-child(5) { transform: translate(786px, 225px); }
      }
      &.count6 {
        .creature:nth-child(1) { transform: translate(372px, 225px); }
        .creature:nth-child(2) { transform: translate(464px, 225px); }
        .creature:nth-child(3) { transform: translate(556px, 225px); }
        .creature:nth-child(4) { transform: translate(648px, 225px); }
        .creature:nth-child(5) { transform: translate(740px, 225px); }
        .creature:nth-child(6) { transform: translate(832px, 225px); }
      }
      &.count7 {
        .creature:nth-child(1) { transform: translate(326px, 225px); }
        .creature:nth-child(2) { transform: translate(418px, 225px); }
        .creature:nth-child(3) { transform: translate(510px, 225px); }
        .creature:nth-child(4) { transform: translate(602px, 225px); }
        .creature:nth-child(5) { transform: translate(694px, 225px); }
        .creature:nth-child(6) { transform: translate(786px, 225px); }
        .creature:nth-child(7) { transform: translate(878px, 225px); }
      }
    }

    &.my {
      &.count1 {
        .creature:nth-child(1) { transform: translate(602px, 353px); }
      }
      &.count2 {
        .creature:nth-child(1) { transform: translate(556px, 353px); }
        .creature:nth-child(2) { transform: translate(648px, 353px); }
      }
      &.count3 {
        .creature:nth-child(1) { transform: translate(510px, 353px); }
        .creature:nth-child(2) { transform: translate(602px, 353px); }
        .creature:nth-child(3) { transform: translate(694px, 353px); }
      }
      &.count4 {
        .creature:nth-child(1) { transform: translate(464px, 353px); }
        .creature:nth-child(2) { transform: translate(556px, 353px); }
        .creature:nth-child(3) { transform: translate(648px, 353px); }
        .creature:nth-child(4) { transform: translate(740px, 353px); }
      }
      &.count5 {
        .creature:nth-child(1) { transform: translate(418px, 353px); }
        .creature:nth-child(2) { transform: translate(510px, 353px); }
        .creature:nth-child(3) { transform: translate(602px, 353px); }
        .creature:nth-child(4) { transform: translate(694px, 353px); }
        .creature:nth-child(5) { transform: translate(786px, 353px); }
      }
      &.count6 {
        .creature:nth-child(1) { transform: translate(372px, 353px); }
        .creature:nth-child(2) { transform: translate(464px, 353px); }
        .creature:nth-child(3) { transform: translate(556px, 353px); }
        .creature:nth-child(4) { transform: translate(648px, 353px); }
        .creature:nth-child(5) { transform: translate(740px, 353px); }
        .creature:nth-child(6) { transform: translate(832px, 353px); }
      }
      &.count7 {
        .creature:nth-child(1) { transform: translate(326px, 353px); }
        .creature:nth-child(2) { transform: translate(418px, 353px); }
        .creature:nth-child(3) { transform: translate(510px, 353px); }
        .creature:nth-child(4) { transform: translate(602px, 353px); }
        .creature:nth-child(5) { transform: translate(694px, 353px); }
        .creature:nth-child(6) { transform: translate(786px, 353px); }
        .creature:nth-child(7) { transform: translate(878px, 353px); }
      }
    }
  }

  .creature {
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 106px;

    transition: transform 0.15s linear;

    &.purpose:after {
      position: absolute;
      top: -5px;
      left: -5px;
      width: 88px;
      height: 97px;
      content: "";
      background: url("/textures/minion-purpose.png");
    }

    &.taunt.purpose:after {
      position: absolute;
      top: -8px;
      left: -13px;
      width: 105px;
      height: 98px;
      content: "";
      background: url("/textures/minion-purpose_taunt.png");
    }

    &.battlecry-preview:after {
      position: absolute;
      top: -13px;
      left: -21px;
      width: 118px;
      height: 135px;
      content: "";
      pointer-events: none;
      background: url("/textures/minion-battlecry.png");
    }

    &.stealth .o1:before {
      position: absolute;
      left: -2px;
      width: 80px;
      height: 106px;
      content: "";
      background: url("/textures/stealth.png");
    }

    &.taunt .o1 {
      top: -2px;
      left: -6px;
      width: 91px;
      height: 122px;
      background: url("/textures/shield.png");
    }

    &.freeze .o1:after {
      position: absolute;
      top: -20px;
      left: -27px;
      width: 137px;
      height: 145px;
      content: "";
      background: url("/textures/freeze.png");
    }

    &.acid .o2:before {
      position: absolute;
      top: 90px;
      left: 29px;
      width: 20px;
      height: 28px;
      content: "";
      background: url("/textures/acid.png");
    }

    &.silence .o2 {
      top: -10px;
      left: -6px;
      width: 96px;
      height: 107px;
      background: url("/textures/silence.png");
    }

    &.windfury .o2:after {
      position: absolute;
      left: 1px;
      width: 75px;
      height: 106px;
      content: "";
      background: url("/textures/windfury.png");
    }

    &.shield .o3:before {
      position: absolute;
      top: -22px;
      left: -17px;
      width: 111px;
      height: 145px;
      content: "";
      background: url("/textures/divide-shield.png");
    }

    &.immune .o3:after {
      position: absolute;
      top: -21px;
      left: -11px;
      width: 100px;
      height: 144px;
      content: "";
      background: url("/textures/immune.png");
    }

    &.sleep .last {
      position: absolute;
      top: -18px;
      left: 47px;
      width: 32px;
      height: 39px;
      content: "";
      background: url("/textures/zzz.png");
    }

    > * {
      position: absolute;
      pointer-events: none;
    }

    IMG {
      top: 4px;
      left: 5px;
      width: 69px;
    }

    .border {
      left: -2px;
      width: 80px;
      height: 106px;
      background: url("/textures/minion-border.png");
    }

    .attack, .hp {
      top: 69px;
      width: 20px;

      color: #FFF;
      font-family: "Belwe Bold", Times, serif;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 0 1px #000,0 0 2px #000;
    }

    &.damaged .hp {
      color: #F00;
    }

    &.hp-upped .hp {
      color: #0F0;
    }

    &.attack-reduced .attack {
      color: #F00;
    }

    &.attack-upped .attack {
      color: #0F0;
    }

    .attack {
      left: 5px;
    }

    .hp {
      left: 55px;
    }
  }

  &.normal-mode .creature.available {
    &:after {
      position: absolute;
      top: -13px;
      left: -13px;
      width: 105px;
      height: 108px;
      content: "";
      background: url("/textures/minion-glow.png");
      pointer-events: none;
    }

    &.taunt:after {
      position: absolute;
      top: -14px;
      left: -15px;
      width: 109px;
      height: 111px;
      content: "";
      background: url("/textures/minion-glow_taunt.png");
      pointer-events: none;
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .minion-preview {
    position: absolute;
    pointer-events: none;

    animation: scale-in 0.2s linear forwards;

    IMG {
      width: 198px;
    }
  }

}
