
.options
   .graphics
      LABEL.option
         INPUT(type="checkbox",name="fullscreen")
         |Fullscreen
      LABEL.option
         INPUT(type="checkbox",name="scale")
         |Scale game to fit screen
