
.create-deck-screen
   .heroes
      .hero.warrior(data-clas=1)
      .hero.shaman(data-clas=2)
      .hero.rogue(data-clas=3)
      .hero.paladin(data-clas=4)
      .hero.hunter(data-clas=5)
      .hero.druid(data-clas=6)
      .hero.warlock(data-clas=7)
      .hero.mage(data-clas=8)
      .hero.priest(data-clas=9)

   .hero-details
      .avatar
      .label

   .choose
   .back
